.menuH
{
    margin: 0; width: 100%; float:none;
    height: 40px;
    background: #002855;
    border-width: 0 0 4px 0;
    border-style: solid;
    border-color: #C99700;
    position:relative;
    z-index:1;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    padding: 0;
}

.menuH ul ul {
	display: none;
}

	.menuH ul li:hover > ul {
		display: block;
	}

.menuH li
{
    padding: 0;
    float: left;
    height: 40px;
    width: 140px;
    position:relative;/*! for IE htc*/
}
.menuH li:hover, .menuH li.onhover
{
    background: #1EC9E8;
}

ul.menuH a
{
    padding: 0 30px;
    line-height: 40px; /*Note: keep this value the same as the height of .menuH and .menuH li */
    font-size: 16px;
    font-weight: bold;
    width: 140px;
    color: #FFF;
    display: block;
    outline: 0;
    text-decoration: none;
}
.menuH a:hover
{
    color: black;
}


.menuH a.selected
{
    background: #002855;
    color: #C99700;
}
        
/*Used to align a top-level item to the right*/        
.menuH .menuRight
{
    float: right;
    margin-right: 0px;
}
        
/*for the top-level separators*/
.menuH li.separator
{
    font-size:0;
    overflow:hidden;
    border-left:1px solid #F7F7F7;
    border-right:1px solid #BBBBBB;
}
               
        
/*######sub level###########*/
        
ul.menuH ul
{
    width:200px;
    position: absolute;
    z-index:5;/*H2*/
    left: -9999px;
    border: 1px solid #DDD;
    border-top: 0; 
    background: gray;    
    text-align: left;
    font-size: 0.9em;
    list-style: none; margin: 0;  
    /*Following 1px(padding-right) will determine how much it is overlapped by the sub-sub-menu */
    padding: 0 1px 10px 0;   
}

.menuH li li
{
    float: none;
    white-space:nowrap;
    height: 26px;
}
.menuH li li:hover, .menuH li li.onhover
{
/*    background:#f7f7f7; */
    background:#1EC9E8;
}
.menuH ul a
{
    padding: 0 20px;
    line-height: 26px;
    font-size: 0.9em;
    font-weight: normal;
    color: white;
    text-align: left;
}

.menuH ul a:hover
{
    color: black;
}

.menuH ul li:hover a
{
    color: black;
}

.menuH li:hover ul, .menuH li.onhover ul
{
    left: -1px;/*Use this property to change offset of the dropdown*/
    top: auto;
}

.menuH li:hover .dropToLeft, .menuH li.onhover .dropToLeft
{
    left: auto;
    right: -1px;
    top: auto;
}
.menuH ul ul
{
    border-top: 1px solid #DDD;
}

.menuH li:hover ul ul, .menuH li:hover ul ul ul, .menuH li:hover ul ul ul ul,
.menuH li.onhover ul ul, .menuH li.onhover ul ul ul, .menuH li.onhover ul ul ul ul
{
    left: -9999px;
    top:0;
}

.menuH li li:hover ul, .menuH li li li:hover ul, .menuH li li li li:hover ul,
.menuH li li.onhover ul, .menuH li li li.onhover ul, .menuH li li li li.onhover ul
{
    left: 200px;
}
        
/*####### special effects ##########*/
        
.decor1 
{
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari and Chrome */
    border-radius: 3px; /* Opera 10.5+, future browsers, and now also our behavior htc file */

    -moz-box-shadow: 0px 1px 4px #eee; /* Firefox */
    -webkit-box-shadow: 0px 1px 4px #eee; /* Safari and Chrome */
    box-shadow: 0px 1px 4px #eee; /* Opera 10.5+, future browsers and IE6+ using our behavior htc file */
            
}
.menuH ul 
{
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;

    -moz-box-shadow: 0px 6px 6px #CCC;
    -webkit-box-shadow: 0px 6px 6px #CCC;
    box-shadow: 0px 6px 6px #CCC;  
    
    /*for older IE browsers, the htc file fix will disable this feature when box-shadow was also applied.*/
    filter:alpha(opacity=90);
    opacity: 0.90;  
            
    /* Gradient background */
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EEEEEE)); 
}
